html,body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;    
}
#desc-intro {
    color:white;
    font-weight: bold;
    font-size: 70px;
    opacity: 0.9;  
}
#desc {
    font-size: 25px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    opacity: 0.7;
    
}
a {
    display: inline-block;
    color:initial;
    transition: transform 0.3s ease-out;    
}
a:hover {
    color: initial;
    text-decoration: none;
    transform: translateY(8px);
}
a.white {
    color: white;
}
a.white:hover {
    color:wheat;
}

/* #about {
    height: 100vh;
    background-image: url("../images/nayan1compressed1.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity:1;
} */

/*paralax*/

.parallax {
    /* The image used */
    

    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.display1{
    background-image: url("../images/nayan-paralax1.jpg");
}
#experience{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    min-height: 100vh;
}
.company
{
    opacity: 0.3;
    max-width: 600px; 
    padding: 20px;
    
    transition: transform 0.3s ease-out;
    border-radius: 17px 17px 17px 17px;
    border: 0 solid #000000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #232324;
    color:white;
    transition: opacity 1.5s;
}
.company:hover{
    opacity: 1;
}
.company-name{
    margin-bottom: 15px;
    font-family: serif;
}
.display2 {
    /* The image used */
    background-image: url("../images/nayan-paralax2.jpeg");
  
}

#projects {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.heading {
    margin-top: 30px;
    margin-bottom: 60px;
}
div.card {
    opacity: 0.3;
    width: 25rem;
    margin-bottom: 50px;
    transition: transform 0.3s ease-out;
    border-radius: 17px 17px 17px 17px;
    border: 0 solid #000000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #232324;
    color:white;
    transition: opacity 1.5s;
}
div.card:hover {
    opacity: 1;
}

div.card > div.card-footer {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 3.5s linear;
  }
div.card:hover > div.card-footer {
    visibility: visible;
    opacity: 1;
}
div.card-footer {    
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

div.card:hover {
    transform: translateY(8px);
}
button.site {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}
.display3 {
    /* The image used */
    background-image: url("../images/nayan-paralax3.jpeg");
  
   
}
#skills {
    min-height: 100vh;
   
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
/* timeline*/

.timeline {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: auto;
    margin: 0 auto;
   
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 12%;
    bottom: -2%;
    left: 50%;
    margin-left: -3px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
  
  /* Container around content */
.skill-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
  /* The circles on the timeline */
.skill-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color:  #232324;
    border: 4px solid lightblue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
  
/* Place the container to the right */
.right {
    left: 50%;
}
  
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #232324;
}
  
/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid blue;
    border-width: 10px 10px 10px 0;
    border-color: transparent #232324 transparent transparent;
   
    
}
  
/* Fix the circle for containers on the right side */

.right::after {
    left: -13px;
}

/* The actual content */
.skill {
    opacity: 0.3;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    transition: transform 0.3s ease-out;
    border-radius: 17px 17px 17px 17px;
    border: 0 solid #000000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #232324;
    color:white;
    transition: opacity 1.5s;
}
.skill:hover {
    opacity: 1;
}
#contact { 
     background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.web {
      width:25px;
}
.social {    
    display: inline-block;
    transition: transform 0.3s ease-out;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  
}
.social:hover {    
    transform: translateY(8px);

}
.icon {
    display: inline-block;
}
.fab,.fas ,.fa{    
    font-size: 25px;
    width: 30px;    
    text-align:center;
}
 
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .skill-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .skill-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #353535 transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 18px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0;
    }
    .left {
        left: 0;
        }
}






